# Ignore some static files and directories.
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/location
!/modules/location/*
/themes/*
!/themes/admin_default/css/location.css
!/themes/admin_default/js/location.js
!/themes/admin_default/js/location_*.js
!/themes/admin_default/images/location
!/themes/admin_default/images/location/*
!/themes/admin_default/modules/location
!/themes/admin_default/modules/location/*
!/themes/default/css/location.css
!/themes/default/js/location.js
!/themes/default/js/location_*.js
!/themes/default/images/location
!/themes/default/images/location/*
!/themes/default/modules/location
!/themes/default/modules/location/*
/.project
/vendor/
/composer.json
/.settings/
/.buildpath
